@import "tailwindcss";

:root {
  --background: #f8f5f0;
  --foreground: #111111;

  --paper: #f8f5f0;
  --beige: #efe6d8;
  --red: #8b0000;
  --black: #111111;
}

body {
  background: var(--paper);
  color: var(--foreground);
}